/* here you can put your own css to customize and override the theme */

.page-header.navbar .page-logo .logo-default {
      margin: 22px 0 0 0; }

.hdr-ttl{
    font-size: 18px; font-weight: 300; padding-top: 4px; color: #364150;
  }

.dashboard-stat1 .display .icon > a > i,
.dashboard-stat2 .display .icon > a > i,
.dashboard-stat3 .display .icon > a > i,
.dashboard-stat4 .display .icon > a > i  {
	color: inherit;
    font-size: 26px;
}

.w50  {width: 50px;}
.w75  {width: 75px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w200 {width: 200px;}
.w225 {width: 225px;}
.w250 {width: 250px;}
.w275 {width: 275px;}
.w300 {width: 300px;}
.w325 {width: 325px;}
.w350 {width: 350px;}
.w375 {width: 375px;}
.w400 {width: 400px;}

.lblstapg {display: inline-block; min-width: 80px; padding: 3px 0; color: #fff; font-weight: 500;}
.lblalver {display: inline-block; min-width: 30px; border: solid 1px #bbb; padding: 2px 0; font-weight: 500; text-align: center;}
.lbl-ok {color: #2ae000; border-color: #2ae000; }
.lbl-no {color: #ff0000; border-color: #ff0000; }
.lbl-baru {background: #68a7fe;}
.lbl-anls {background: #9145c9;}
.lbl-verf {background: #799300;}
.lbl-appr {background: #ffc000;}
.lbl-trma {background: #2ae000;}
.lbl-tlak {background: #ff0000;}
.lbl-htam {background: #000000;}
.lbl-aabu {background: #cccccc;}
.lbl-ptih {background: #ffffff; color: #888; border: solid 1px #bbb; padding: 2px 0;}